SECRET_KEY=change-this-secret-key
DEBUG=false
ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=
ENABLE_HTTPS=false

DB_ENGINE=mysql
DB_NAME=nyo_dashboard
DB_USER=nyo_user
DB_PASSWORD=change-this-db-password
DB_HOST=db
DB_PORT=3306
MYSQL_ROOT_PASSWORD=change-this-root-password

WEB_PORT=8000
MEDIA_ROOT=/app/media
RUN_COLLECTSTATIC=1
AUTO_SEED_DATA=1

SEED_ADMIN_PASSWORD=Admin123!
SEED_COACH_PASSWORD=Coach123!
SEED_HEADCOUNT_PASSWORD=Head123!
SEED_PARENT_PASSWORD=Parent123!
